:root {
  --white: #fff;
  --grey: #E7E7E7;
  --light-blue: #0072FF;
  --blue: #0052B8;
  --dark-blue: #002647;
  --orange: #FF4D00;
  --red: #FF0000;
}

@media (max-width: 992px) {
.navbar-expand-lg {
	background: linear-gradient(0deg, rgba(0, 38, 71, 0.9), rgba(0, 38, 71, 0.9));
}

.navbar-nav .nav-link {
	text-align: center;
	margin: auto;
}

.navbar-toggler {
	color: var(--white);
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
}

.about-cover img {
	object-position: right;
}


    .main-block__title {
			font-size: 50px;
			line-height: initial;
			text-align: center;
    }

    .feedback-first__block-flex {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .feedback-first__block {
        margin-top: 40px;
        margin-left: 41px;
        margin-right: 40px;
    }


    .feedback-first {
        width: max-content;
        max-width: 648px;
        top: 460px;
    }
    .feedback-first__button {
        margin-top: 40px;
    }

		.feedback-second__title {
			font-size: 30px;
			margin-bottom: 30px;
		}

		.simple-and-fast__title {
			font-size: 30px;
		
	}

    .simple-and-fast__steps {
        margin-top: 20px;

    }

		.order__button {
			margin-top: 30px;
			margin-bottom: 30px;
	}

		.popular-services__title {
			font-size: 30px;
			margin-top: 30px;
			margin-bottom: 20px;
	}

		.services__button {
			margin-top: 30px;
			margin-bottom: 30px;
	}
    .advantage {
        width: 100%;
        max-width: 100%;
    }

		.advantages__title {
      font-size: 24px;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.list-advantages {
			margin-top: 30px;
		}

    .advantage__image {
        max-width: 50px;
    }

    .advantages__video {

        margin-top: 40px;
    }
    .step img{

        max-width: 50px;
    }

    .icon-next {
        max-width: 30px;
    }

    .service-sanitation__title {

        text-align: center;
    }

		.why-we__block {
			flex: none;
		}

		.why-we__image {
			margin: 30px auto;
	}

	.why-we__text {
    margin-top: 60px;
	}
		
		.divider-dark {
			margin-top: auto;
		}

		.about-us__title {
			font-size: 24px;
			margin-top: 30px;
			margin-bottom: 30px;
	}

	.about-us__text {
    font-size: 20px;
	}

	.page2__title {
    font-size: 40px;
    text-align: center;
}

	.page3__title {
    font-size: 40px;
		text-align: center;
}

.services__title {
	font-size: 30px;
	margin-top: 30px;
	
}

.services-list {
    margin-top: 30px;
}

.services__block {
	min-height: 600px;
	
}

.staff__title {
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.we-are-trusted__title {
	font-size: 40px;
text-align: center;
}

.we-are-trusted__title2 {
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.portfolio__title {
	font-size: 40px;
	text-align: center;
}

.portfolio {
  margin-top: 10px;
}

.slider__title {
	font-size: 30px;
}

}
/* ------------------------------------------------------------------------ */
@media (max-width: 767px) {

    .feedback-first, .feedback-first__about-us, .feedback-second__block {
        left: auto;
        -webkit-transform: none;
        transform: none;
        max-width: 100%;
        padding: 25px 15px 45px 15px;
        bottom: auto;
    }

    .feedback-second__block-flex {
        flex-wrap: wrap;
    }

    .feedback-second__block-flex_right, .feedback-second__block-flex_left {
        max-width: 100%;
        margin-right: auto;
        width: 100%;
    }

    .footer .footer__logo,   .footer .footer__text{
        width: 50%;
        flex: auto;
        font-size: 16px;
    }

    .footer__logo-img {
        margin-top: 40px;
        object-fit: contain;
        max-width: 110px;
        display: block;
        margin: 40px auto 0;
    }

  .footer .footer__contacts {
        width: 100%;
    }

    .copyright {

        margin-top: 10px;
    }

    .main-block__title {
        font-size: 40px;
        line-height: initial;
    }

    .feedback-first__block {
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .feedback-input-wrap {
        width: 100%;
        margin-bottom: 10px;
    }

    .feedback-input {
        padding: 5px 5px 5px 5px;
        gap: 10px;
        width: 100%;
        max-width: inherit;
    }

    .feedback-first {
        top: 370px;
    }

		.popular-services__title {
			font-size: 30px;
			margin-top: 30px;
			margin-bottom: 20px;
	}

		.services__button {
			margin-top: 30px;
			margin-bottom: 30px;
	}

		.list-advantages {
			margin-top: 30px;
		}

		.advantages__title {
      font-size: 24px;
			margin-top: 30px;
			margin-bottom: 30px;
		}



}
/* ------------------------------------------------------------------------ */
@media (max-width: 479px) {
	.main-block__title {
    font-size: 30px;
		text-align: center;
    
}


}